node_modules
.DS_Store
workers-sample
.vscode
.jfrog
.env
target
credentials.toml
pip.conf
pvenv
.terraform
.terraform.*
api/osv
dist
osv.zip
tests/npm/package*.json
tests/npm/node_modules/
go.sum
tests/chef/nodes/
chef_guid
local-mode-cache
tests/bower/.bowerrc
