node_modules
.DS_Store
workers-sample
.vscode
.jfrog
.env*
target
credentials.toml
pip.conf
pvenv
.terraform
.terraform.*
api/osv
dist
osv.zip
go.sum
chef_guid
local-mode-cache
tests/npm/package*.json
tests/npm/node_modules/
tests/chef/nodes/
tests/bower/.bowerrc
tests/composer/vendor
tests/sbt/.bsp
.composer
