@import 'tailwindcss';

@config '../../tailwind.config.ts';

@theme {
  --color-dark: none;
  --color-normal: none;
  --color-light: none;
  --color-extralight: none;
  --color-superlight: none;
  --color-bright: none;
  --color-shallow: none;
  --color-shallow-light: none;
  --color-shallow-dark: none;
}

@utility noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
      display: none;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-dark: #1a1a1a;
  --color-normal: #181818;
  --color-light: #212121;
  --color-extralight: #323232;
  --color-superlight: #424242;
  --color-bright: white;
  --color-shallow: gray;
  --color-shallow-light: gray;
  --color-shallow-dark: rgb(79, 78, 78);
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark: #3B82F6;
  --color-normal: #e0e0e0;
  --color-light: #d6d6d6;
  --color-extralight: #c4c4c4;
  --color-superlight: #b0b0b0;
  --color-bright: black;
  --color-shallow: rgb(116, 116, 116);
  --color-shallow-light: rgb(169, 215, 236);
  --color-shallow-dark: rgb(118, 198, 235);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.4s, color 0.4s;
}
